language: go
go:
  - 1.16.x
  - 1.17.x
  - 1.18.x
  - "tip"
install:
  - mkdir -p $HOME/gopath/src/gopkg.in/gemnasium
  - mv $HOME/gopath/src/github.com/gemnasium/logrus-airbrake-hook $HOME/gopath/src/gopkg.in/gemnasium/logrus-airbrake-hook.v4
  - cd $HOME/gopath/src/gopkg.in/gemnasium/logrus-airbrake-hook.v4
  - go get -t
